# ignore all
/*
/.**

# add white list
!/dot_zshrc
!/dot_sheldon/
!/dot_sheldon/**
!/dot_config/
!/dot_config/zsh/
!/dot_config/zsh/private_abbreviations

!.gitignore
!README.md
!install.sh

# add black list
.keep
.ssh/
ssh/
