# ignore all
*
*/

# add white list
!/dot_zshenv
!/dot_zshrc
!/dot_sheldon
!/dot_sheldon/plugins.toml
!/dot_config
!/dot_config/git/
!/dot_config/zsh/
!/dot_config/zsh/**

!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!.chezmoiignore
!README.md
!install*.sh
!run_once*.sh
!run_onchange*.sh
!install_script/
!install_script/*.sh

# add black list
.DS_Store
.keep
.git/
.ssh/
ssh/
