# ---------------------------------------------------------
# Environment variable
# ---------------------------------------------------------
export LANG=ja_JP.UTF-8

# autosuggetion color
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=180'

# ---------------------------------------------------------
# XDG
# ---------------------------------------------------------
# basedir defaults, in case they're not already set up.
if [[ -z "$XDG_DATA_HOME" ]]; then
        export XDG_DATA_HOME="$HOME/.local/share"
fi

if [[ -z "$XDG_CONFIG_HOME" ]]; then
        export XDG_CONFIG_HOME="$HOME/.config"
fi

if [[ -z "$XDG_CACHE_HOME" ]]; then
        export XDG_CACHE_HOME="$HOME/.cache"
fi

if [[ -z "$XDG_DATA_DIRS" ]]; then
        export XDG_DATA_DIRS="/usr/local/share:/usr/share"
fi

if [[ -z "$XDG_STATE_HOME" ]]; then
        export XDG_STATE_HOME="$HOME/.local/state"
fi

if [[ -z "$XDG_CONFIG_DIRS" ]]; then
        export XDG_CONFIG_DIRS="/etc/xdg"
else
        export XDG_CONFIG_DIRS="/etc/xdg:$XDG_CONFIG_DIRS"
fi

# ---------------------------------------------------------
# ZDOTDIR
# ---------------------------------------------------------
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

# ---------------------------------------------------------
# Path
# ---------------------------------------------------------
path=($HOME/.local/bin(N-/) $path)

# Volta
export VOLTA_HOME="$HOME/.volta"
path=($VOLTA_HOME/bin(N-/) $path)

# Cargo
path=($HOME/.cargo/bin(N-/) $path)

# Go
path=($HOME/go/bin(N-/) $path)

# LunarVim
path=($HOME/.local/bin(N-/) $path)

# ---------------------------------------------------------
# Default editor
# ---------------------------------------------------------
export EDITOR="nvim"
export VIEWER="nvim"

{{ if eq .chezmoi.os "linux" -}}
# ---------------------------------------------------------
# Environment variable for manjaro and arch linux
# ---------------------------------------------------------
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
{{- end}}

