#!/bin/bash -xeu

# ---------------------------------------------------------
# Get operating system
# ---------------------------------------------------------
{{- $platform := "" -}}
{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
        {{- $platform = "ubuntu" -}}
    {{ else if eq .chezmoi.osRelease.id "arch" -}}
        {{- $platform = "arch" -}}
    {{ else if eq .chezmoi.osRelease.id "manjaro" -}}
        {{- $platform = "manjaro" -}}
    {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
    {{- $platform = "darwin" -}}
{{- end -}}

{{if eq $platform "" -}}
    # if platform is empty, raise error.
    echo "Operating System is UNKNOWN!"
    return 1
{{- end}}

# ---------------------------------------------------------
# Install packages for each platform
# ---------------------------------------------------------
echo "Operating System is {{$platform}}"
{{ .chezmoi.sourceDir }}/scripts/install-{{$platform}}.sh

# ---------------------------------------------------------
# Install Pacman Packages
# ---------------------------------------------------------
{{ if or (eq $platform "arch") (eq $platform "manjaro") -}}
{{ .chezmoi.sourceDir }}/scripts/install-pacman.sh
{{- end}}

# ---------------------------------------------------------
# Install rye, cargo, volta
# ---------------------------------------------------------

# Install rye
## curl -sSf https://rye.astral.sh/get | RYE_INSTALL_OPTION="--yes" bash
{{ .chezmoi.sourceDir  }}/scripts/install-rye.sh

# Install Rust
if ! (type "cargo" > /dev/null 2>&1); then
    curl --proto '=https' --tlsv1.2 https://sh.rustup.rs > rustup.sh
    sh rustup.sh -y -q --no-modify-path && rm rustup.sh
    source "$HOME/.cargo/env"
fi

# Install Rust Apps
cargo install -q cargo-binstall
cargo binstall -q  -y --only-signed\
    bp \
    cargo-edit \
    cargo-update \
    eza \
    git-delta \
    sheldon \
    starship \
    topgrade \
    xcp \
    zoxide

{{ if eq .chezmoi.os "linux" -}}
# Install trashy (Linux only)
    cargo binstall -q -y --only-signed trashy
{{end -}}

# Install volta
if ! (type "volta" > /dev/null 2>&1); then
    curl https://get.volta.sh | bash
fi

# Install AstroNvim
nvim --headless +qa

# ---------------------------------------------------------
# Install UDEVGothic
# ---------------------------------------------------------
{{if or (eq $platform "arch") (eq $platform "manjaro") -}}
# GitHub リポジトリのユーザー名、リポジトリ名、およびリリースタグを指定
    USER_NAME="yuru7"
    REPO_NAME="udev-gothic"
    ZIP_FILE="font.zip"

# リリース情報を取得
    RELEASE_INFO=$(curl -s https://api.github.com/repos/$USER_NAME/$REPO_NAME/releases/latest)

# 最新のリリースアセットのURL
    ASSET_URL=$(echo $RELEASE_INFO | jq -r '.assets[0].browser_download_url')

# curl を使用してリリースアセットをダウンロード
    curl -LJ $ASSET_URL -o $ZIP_FILE

# Extract to /usr/share/fonts/
    sudo unzip -o $ZIP_FILE -d /usr/share/fonts/
# Delete zip file
    rm $ZIP_FILE
{{end -}}

# Rebuild bat cache for activate catppuccine
bat cache --build

# Create XDG folder
mkdir -p ~/.local/state

# Delete ~/bin/chezmoi
if [ -f "$HOME/bin/chezmoi" ]; then
    echo "Removing ~/bin/chezmoi"
    rm "$HOME/bin/chezmoi"
fi
if [ -d "$HOME/bin" ]; then
    if [ -z "$(ls -A $HOME/bin)" ]; then
        echo "Removing ~/bin"
        rmdir "$HOME/bin"
    fi
fi
