#!/bin/bash -xeu

# ---------------------------------------------------------
# Get operating system
# ---------------------------------------------------------
{{- $platform := "" -}}
{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
        {{- $platform = "ubuntu" -}}
    {{ else if eq .chezmoi.osRelease.id "arch" -}}
        {{- $platform = "arch" -}}
    {{ else if eq .chezmoi.osRelease.id "manjaro" -}}
        {{- $platform = "manjaro" -}}
    {{ end}}
{{ else if eq .chezmoi.os "darwin" -}}
    {{- $platform = "darwin" -}}
{{- end}}

{{if eq $platform "" -}}
    # if platform is empty, raise error.
    echo "Operating System is UNKNOWN!"
    return 1
{{- end}}
echo "Operating System is {{$platform}}"

# ---------------------------------------------------------
# Install packages for each platform
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/{{$platform}}.sh

# ---------------------------------------------------------
# Install Pacman Packages for Arch Linux and Manjaro
# ---------------------------------------------------------
{{ if or (eq $platform "arch") (eq $platform "manjaro") -}}
{{ .chezmoi.sourceDir }}/scripts/pacman.sh
{{- end}}

# ---------------------------------------------------------
# Install UDEVGothic
# ---------------------------------------------------------
{{if or (eq $platform "arch") (eq $platform "manjaro") (eq $platform "ubuntu") -}}
{{ .chezmoi.sourceDir }}/scripts/udevgothic.sh
{{- end}}

# ---------------------------------------------------------
# Install uv
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/uv.sh

# ---------------------------------------------------------
# Install rust
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/rust.sh

# ---------------------------------------------------------
# Install volta
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/volta.sh

# ---------------------------------------------------------
# Install go apps
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/go.sh

# Install AstroNvim
echo "::group::AstroNvim sync"
nvim --headless "+MasonToolsInstall" +qa
echo "::endgroup::"

# Rebuild bat cache for activate catppuccine
bat cache --build

# Create XDG folder
mkdir -p ~/.local/state

# ---------------------------------------------------------
# Remove chezmoi
# ---------------------------------------------------------
{{ .chezmoi.sourceDir }}/scripts/delete-chezmoi.sh
