name: arch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
concurrency: dotfiles-test-archlinux
jobs:
  arch-test:
    runs-on: ubuntu-latest
    # if: ${{ contains(github.event.head_commit.message, "[CI]") }}
    container:
      image: archlinux:latest
    steps:
      - uses: actions/checkout@v3
      - name: Extract branch name for push
        if: github.event_name == 'push'
        run: echo "CURRENT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
      - name: Extract branch name for pull request
        if: github.event_name == 'pull_request'
        run: echo "CURRENT_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
      - name: Update pacman
        run: pacman -Syu -q --noconfirm
      - name: Install sudo
        run: pacman -Sy -q --noconfirm sudo git curl
      - name: Initialize and populate keyring
        run: |
          sudo pacman-key --init
          sudo pacman-key --populate archlinux manjaro
          sudo pacman-key --refresh-keys
      - name: Run chezmoi
        run: sh -c "$(curl -fsLS chezmoi.io/get)" -- init --apply --branch ${{ env.CURRENT_BRANCH }} radiol
      # # Error Check
      - name: Exec zsh and check sheldon/plugins.lock exist.
        run: |
          zsh -i -l -c exit
          if [ -f "$HOME/.local/share/sheldon/plugins.lock" ]; then
            echo "Sheldon plugins loaded successfully."
          else
            echo "Failed to load Sheldon plugins."
            exit 1
          fi
      - name: Check lazy.nvim dir
        run: |
          nvim --headless "+MasonToolsInstall" +qa
          ls ~/.local/share/nvim/lazy/
      - name: Check go app(gomi) is available
        run: |
          ls ~/go/bin/gomi
      - name: Check IME config file(arch only)
        run: cat ~/.config/environment.d/im.conf
  manjaro-test:
    runs-on: ubuntu-latest
    # if: ${{ contains(github.event.head_commit.message, "[CI]") }}
    container:
      image: manjarolinux/base:latest
    steps:
      - uses: actions/checkout@v3
      - name: Extract branch name for push
        if: github.event_name == 'push'
        run: echo "CURRENT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
      - name: Extract branch name for pull request
        if: github.event_name == 'pull_request'
        run: echo "CURRENT_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
      - name: Remove community repo from pacman.conf
        run: sed -i '/\[community\]/,/Include/d' /etc/pacman.conf
      - name: Update pacman
        run: pacman -Syu -q --noconfirm
      - name: Install sudo
        run: pacman -Sy -q --noconfirm sudo git curl
      - name: Initialize and populate keyring
        run: |
          sudo pacman-key --init
          sudo pacman-key --populate archlinux manjaro
          sudo pacman-key --refresh-keys
      - name: Run chezmoi
        run: sh -c "$(curl -fsLS chezmoi.io/get)" -- init --apply --branch ${{ env.CURRENT_BRANCH }} radiol
      # # Error Check
      - name: Exec zsh and check sheldon/plugins.lock exist.
        run: |
          zsh -i -l -c exit
          if [ -f "$HOME/.local/share/sheldon/plugins.lock" ]; then
            echo "Sheldon plugins loaded successfully."
          else
            echo "Failed to load Sheldon plugins."
            exit 1
          fi
      - name: Check lazy.nvim dir
        run: |
          nvim --headless "+MasonToolsInstall" +qa
          ls ~/.local/share/nvim/lazy/
      - name: Check go app(gomi) is available
        run: |
          ls ~/go/bin/gomi
      - name: Check IME config file does NOT exist(arch only)
        run: |
          if test -f "~/.config/environment/im.conf"; then
            echo "Error: Ignored file exists"
            exit 1
          fi
